.admin-container {
  display: flex;
  flex-flow: column;
  width: 100%;
  justify-content: center;
  align-items: flex-start;
  padding-left: 200px;
  background: #fab;
}

.admin-headline {
  font-family: 'Oswald', sans-serif;
  font-size: 80px;
  margin-top: 20px;
  margin-left: -100px;

}

.answer-admin-container {
  display: flex;
  flex-flow: column;
  width: 600px;
  margin: 80px 0px 0px 0px;
  background: lightgrey;
  padding: 20px;
  height: auto;
}

.topic-headline-question {
  background: red;
  width: 300px;
  height: auto;
  border-radius: 5px 15px 0 0;
  color: white;
  font-size: 16px;
  font-family: 'IBM Plex Mono', monospace;
  padding: 5px;
  margin-bottom: 0px;
}

.question-txt--admin {
  font-size: 16px;
  color: red;
  font-family: 'IBM Plex Mono', monospace;
  padding: 2px 0 0 0;
  width: 500px;
}

.question-txt--admin-white {
  font-size: 16px;
  color: black;
  font-family: 'IBM Plex Mono', monospace;
  padding: 2px;
  padding-top: 15px;
  border-top: 1px dashed black;
  width: 500px;
}

.answer-admin-container--box {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
}

.answer-admin-button {
  margin-top: 20px;
  width: 100px;
  height: 40px;
  background: red;
  color: white;
}

.answer-admin-button:hover {
  animation: shake 0.7s;
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.topicform-inputbox {
  border-style: none;
  padding-left: 10px;
  outline: none;
  width: 90%;
  height:50px;
  font-size: 18px;
  color: red;
  font-family: 'IBM Plex Mono', monospace;
}
.topicform-inputbox--message {
  border-style: none;
  padding-left: 10px;
  outline: none;
  width: 90%;
  height:400px;
  font-size: 18px;
  color: red;
  font-family: 'IBM Plex Mono', monospace;
}
