.homeView-container {
  background-color: lightyellow;
  display: flex;
  flex-flow: column;
  width: 100%;
  height: auto;
  padding-bottom: 500px;
}

.questionanswer-container {
  margin-left: 200px;

}

h4 {
  font-family: 'Oswald', sans-serif;
  font-size: 40px;
}
