.qa-container {
  width: 600px;
  height: auto;
  padding: 20px;
  margin-bottom: 30px;
  background: lightgrey;
  border-radius: 0px 20px 0 0;
}

.qa-container h3{
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
}

.topic-p {
  font-size: 16px;
  color: red;
  font-family: 'IBM Plex Mono', monospace;
}

.topic-headline-question {
  background: red;
  width: 300px;
  height: auto;
  border-radius: 5px 15px 0 0;
  color: white;
  font-size: 16px;
  font-family: 'IBM Plex Mono', monospace;
  padding: 5px;
  margin-bottom: 0px;
}

.question-txt {
  font-size: 16px;
  color: red;
  font-family: 'IBM Plex Mono', monospace;
  background: white;
  padding: 2px;
}
